@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-modal .ant-modal-content {
  background-color: #292524;
}

.custom-modal .ant-modal-header,
.custom-modal .ant-modal-footer {
  background-color: #292524;
}

.custom-modal .ant-modal-close-x {
  color: white;
}
