@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom css for ant modal and drawer */
.custom-modal .ant-modal-content {
  background-color: #292524;
}

.custom-modal .ant-modal-header,
.custom-modal .ant-modal-footer {
  background-color: #292524;
}
.custom-table .ant-table-content {
  background-color: #292524;
  color: white;
}

.custom-table .ant-table-row:hover {
  color: black;
  transition: all;
  transition-duration: 0.3s;
}

.custom-modal .ant-modal-close-x {
  color: white;
}

.custom-drawer .ant-drawer-close {
  color: white;
}

.custom-drawer .ant-drawer-close:hover {
  color: white;
  background-color: gray;
}
